
<!DOCTYPE html>
<html lang="en">
<head>
    <title>S3 POST File Service Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
  </head>
    <body>
        <form>
            <input type="hidden" id="serviceupload" value="%SERVICE_PATH_UPLOAD%">
            <input type="hidden" id="serviceinfo" value="%SERVICE_PATH_INFO%">    
            <h1>S3 File Submition Service:</h1>
            <div>
                <p>Destination filename:</p>
                <input type="text" id="filename" value="uploads/image.png" required>    
            </div>
            <div>
                <p>File description:</p>
                <input id="filedescription" type="text" placeholder="Enter a description" required >
            </div>
            <div>
                <p>File to upload to S3:</p>
                <input id="filepath" type="text" placeholder="Enter a path to an image" required >
            </div>
            <div>
                <input type="button" value="Upload File to S3" onclick="return savefile()">
            </div>
            <div>            
                <hr>
                <p>List Files:</p>
                <input  type="button" value="List files" onclick="return listfiles()">
                <div id="result"></div>
            </div>
        </form>
        <script type="text/javascript" src="js/local.js"></script>
    </body>
</html>